ul
{
   padding-inline-start: 0px;

      
      
}
.fail-chip{
     border: 2px solid var(--input-font-color);
    color: var(--input-font-color);
    padding: 1px 23px;
    
    margin-right: 5px;
    border-radius: 20px;
    text-align: center;

}
.error-upload
{
      line-height: 2.5;
}

li {
          list-style: none;
    margin-top: 5px;
    border-bottom: 1px solid;
    margin: 10px 0px;
    border-top: 1px solid;
    padding: 10px;
      
}

#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 12px;
      line-height: 18px;
      width: 100%;
}

#file-label mat-icon {
      font-size: 18px;
      text-align: center;
}

#file-label a {
      cursor: pointer;
}
button
{
 
    margin-left: -18px;
}
a:not([href]):not([tabindex]) {
    color: currentColor;
    text-decoration: none;
    
}
