
<div [style.background-image]="safeBgURL" style="min-height: 110vh; height:100%;">
	<div class="main-div">
		
			
			
				<div class="main-form-class" id="form" [style.max-width.px]=frm.formwidth [style.background-color]=frm.bgColor  >
					<form class="{{theme}}" (ngSubmit)="onSubmit()">
						<div >
							<div [froalaView]="frm.title"></div>
						</div>
						<div *ngFor="let field of formField" [ngSwitch]="field.type">
							<div *ngSwitchCase="'textbox'">
								<mat-form-field class="example-full-width"> 
								<input
									matInput name="{{field.title}}"
									[formControl]="field.frmControl" placeholder="{{field.title}}"
									value=""  required="{{field.required}}"> 
								</mat-form-field>
							</div>
							<div *ngSwitchCase="'textarea'">
								<mat-form-field class="example-full-width"> <textarea
									matInput rows="4"  required="{{field.required}}" cols="20" [formControl]="field.frmControl"></textarea>
								<mat-placeholder class="placeholder">{{field.title}}</mat-placeholder>
								</mat-form-field>
							</div>
							<div *ngSwitchCase="'section'">
  								<mat-list class="example-full-width" >
  									<mat-list-item class="section-text">{{field.title}}</mat-list-item>
  									<mat-divider></mat-divider>
     							</mat-list>
     						</div>
							<div *ngSwitchCase="'slide-toggle'">
								<mat-slide-toggle class="example-full-width" [color]="white"
									[checked]="field.checked" [formControl]="field.frmControl"  
									[disabled]="field.disabled">{{field.title}}
								</mat-slide-toggle>
							</div>
							<div *ngSwitchCase="'date-picker'">
								<mat-form-field class="example-small-width"> <input
									matInput [min]="field.mindate" required="{{field.required}}"
									 [formControl]="field.frmControl"
									[max]="field.mindate" [matDatepicker]="picker"
									(dateInput)="addEvent('input', $event)"
									(dateChange)="addEvent('change', $event)"> <mat-placeholder
									class="placeholder">{{field.title}}</mat-placeholder> <mat-datepicker-toggle
									matSuffix [for]="picker"></mat-datepicker-toggle> <mat-datepicker
									touchUi #picker></mat-datepicker> </mat-form-field>
							</div>

							<div *ngSwitchCase="'dropdown'">
								<mat-form-field class="example-half-width"> <mat-placeholder
									class="placeholder">{{field.title}}</mat-placeholder> 
									<mat-select class="placeholder" [(value)]="field.selectedOption"
									[formControl]="field.frmControl"> <mat-option
									*ngFor="let option of field.options" value="{{option}}">{{option}}</mat-option>
								</mat-select> <mat-error *ngIf="field.frmControl.hasError('required')">
								Selection for {{field.title}} is <strong>required</strong> </mat-error> </mat-form-field>
							</div>
						</div>
						<p></p>
						<div >
							<table>
							<tr>
							<td><button type="submit"  mat-raised-button color="primary">Submit</button></td>
							<td><button type="reset" mat-raised-button color="accent">Reset</button></td>
							</tr>
							</table>
						</div>
					</form>
				
				</div>
			
				
			
		
	</div>
</div>