
.main-div
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* /* /deep/ .mat-drawer-inner-container{ */ */
/* /* 	overflow: hidden !important; */ */
/* } */

.circle-icon2 {
    background: linear-gradient(60deg, #ef5350, #e53935);
    padding:10px;
    border-radius: 50%;

}
.left-handle{
    position: fixed;
    top: 7px;
    z-index: 99;
}
.fixed-bottom-right{
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
}
.btn-page-delete{
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: -17px;
    width: 20px;
    height: 20px;
    border: 0px;
    padding: 0px 0px;
    font-size: 19px;
    /*background: #e53935;*/
    color: var(--input-border-color);
    font-weight: 900;
}

.property-icon
{
    position: absolute;
   	top: 25px;
    right: 20px;
 	z-index: 5;
 	
}
.form-page{
    width:100%;
    margin-top:30px;
}
.form-page:first-child{
    margin-top:0px;
}
.no-card-msg{
    background: rgb(239 189 80);
    max-width: 310px;
    padding: 15px;
    border: 2px dashed;
    color: #313130;
    font-size: 15px;
}
.card-mgs-block{
	text-align:center;
	width:100%;
	color: var(--input-border-color);
    display:flex;
    justify-content:center;

}


.property-icon-right
{
   
 position: fixed;
    top: 69px;
    right: 23px;
   z-index: 2;
}
.property-icon-left
{
	position: absolute;
    top: 66px;
    left: 85px;
    z-index: 4;

}
.circle-icon
{
 	background: #e53935;
    padding: 14px;
    border-radius: 50%;
    border-color: black;
    color: #ffffff;
    cursor: pointer;
}


.form-background
{
	background-repeat: repeat-xy;
}
.flex_tree_column
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
 /*  justify-content: space-between; */
  width: 100%;
  background-size: cover;
  
}
.icon-message {
	color: #ffffff;
	padding: 10px 10px;
	
}
.setting-icon {
 
  height: 25px;
  width: 25px;
  color: white;
    
}

.left-col
{
	/* 	min-width: 1px; */
	height: 100%;
	flex-direction: column;
	/* width: 100%; */
	height: 100%;
	
	flex: 1 auto;
	background: #FFFFFF;
	padding-right: 5px;


	
}
.right-panel
{
	height: 100%;
	flex-direction: column;
	height: 100%;
	flex: 1 auto;
	min-width: 450px;
	background: #FFFFFF;
	padding-right: 5px;
	overflow:hidden;
	
}
.mat-raised-button
{
	height: 35px;
	margin: 10px;
}
.center-col
{
	margin-left:500px;
	flex-grow: 1;
	
	align: center;
}




.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-height: 750px;
}

.toolbox-toolbar {
	width: 500px;
	max-width: 100%;
	border: solid 5px #fff;
	min-height: 60px;
/* 	display: block; */
/* 	background: white; */
	overflow: hidden;
	opacity: 0.9;
	background: darkblue;
}
.toolbox-toolbar-row:before{
 content: � �;
 background: inherit; 
 position: absolute;
 left: 0;
 right: 0;
 top: 0; 
 bottom: 0;
 box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
 filter: blur(20px);
}

.head
{
    color: #3e4652;
    text-align: center;
    background:#c5c6c8;
    
/*     background: #3e4652; */
    line-height: 26px;
/*     background-color: #ef5350; */
    display: block;
     padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 1px 5px 10px px #000000;
/*     margin-bottom: 30px; */
    font-family: inherit;
    font-size: 20px;
    font-variant-caps: small-caps;
  /*  position: fixed; */
    width: inherit;
    /* top: 44px; */
    border-bottom: 3px solid #aaacaf;
}
.sidebar-right {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 400px;
    background: #3e4652;
   
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar-wrapper{
/* 	max-height: 400px; */
/* 	overflow: hidden; */
}
.nav
{
/* 	max-height: 400px; */
/* 	overflow: scroll; */
}

.toolbox-toolbar-row {
	
/* 	border-bottom: 1px solid #333a43!important; */
/*     border-top: 1px solid #495261!important; */
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	//justify-content: space-between;
	box-sizing: border-box;
	cursor: grab;
	background:#3e4652;
	font-size: 14px;
	background: inherit;
	width: -webkit-fill-available;
}
.toolbox-item-head{
	border-bottom: 1px solid #333a43!important;
    border-top: 1px solid #495261!important;
/* 	background:inherit;  */
    color: #c5c6c8;
    width: 337px;
    padding: 16px;
    height:46px;
    font-family: cursive;
    background: #3e4652;
    
 
  	 
  	 
/*   	background: linear-gradient(to right, #3e4652 0%, #3e4652 100%); */
/*   	background: linear-gradient(60deg, #ef5350, #e53935); */
  	display: block;
  	height: 100%;

}
.toolbox-item-group {

	color: #c5c6c8;
    width: 100%;
    padding: 16px;
    height: 46px;
    font-family: cursive;
    background: #2f333a;
    display: block;
    height: 100%;
    text-align: center;
    cursor: auto;
    font-variant-caps: all-petite-caps;
    font-size: 22px;

}
.toolbox-item-head-old{
	border-bottom: 1px solid #333a43!important;
    border-top: 1px solid #495261!important;
/* 	background:inherit;  */
    color: #c5c6c8;
    width: 337px;
    padding: 16px;
    height:46px;
    font-family: cursive;
    
    background: linear-gradient(to right, #ef5350  50%, #3e4652 50%);
    
    background-size: 200% 100%;
  	background-position: right bottom;
  	transition: all .5s ease-out;
  	 
  	 
/*   	background: linear-gradient(to right, #3e4652 0%, #3e4652 100%); */
/*   	background: linear-gradient(60deg, #ef5350, #e53935); */
  	display: block;
  	height: 100%;

}
.toolbox-item-head:hover-old  
{
/* 	background: linear-gradient(60deg, #ef5350, #e53935); */
	background-position: left bottom;
	font-size:16px;
	color:#ffffff;
}
.toolbox-item-head:hover  
{

	background: #616975;
    color: #fff;
} 
.toolbox-item-row
{
	display:inline-flex;
	border-radius: 3px;
    color: #3C4858;
    text-transform: capitalize;
    font-size: 14px;
    width: 100%;
    margin: 0px 0px 0;
    height: 57px;
    
}
.toolbox-icon{
    font-family: 'Material Icons';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
/*     max-height: 46px; */
    width: 57px;
    
    background: #c5c6c8;
    color: #3e4652;
    border-bottom: 3px solid #aaacaf;
    border-top: 3px solid #dcdcdc;
     transition: width 0.5s, height 4s;
     height: 100%;
    padding-left: 12px;
    padding-top: 10px;
    
}
.toolbox-icon:hover{
/* 	background:#3e4652 ;  */
/*     color:  #c5c6c8;  */
    width:80px;
    
}

.toolbox-image{
		
	width: 57px;
    border-bottom: 3px solid #aaacaf;
    border-top: 3px solid #dcdcdc;
    height: 100%;
}
.tool-row-items{
	display: inline;
}

.tool-icon-white {
	height: 40px;
	width: 60px;
	color: white;
	padding-left: 10px;
	background: inherited;
	/*   margin-right: 30px; */
}
.tool-icon {
	padding: 0 0px 0 0;
	height: 50px;
	width: 50px;
	background: darkblue;
	opacity: 1.0; 
	margin-right: 30px;
}

.cdk-drag-preview {
	box-sizing: border-box;
/* 	border-radius: 40px; */
	color: #ffffff;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px
		rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	background: linear-gradient(60deg, #ef5350, #e53935);
	border: 0px;
}
.toolbox-toolbar-row-spacer {
	flex: 1 1 auto;
}

.right-nav{
	display: flex;
	flex-wrap: wrap;
	widht: 275px;
	max-width: 455px;
	


}


.form-main {
	border: solid 0px #000;
	min-height: 80px;
/* 	border-radius: 10px; */
	background: transparent;
	overflow: hidden;
/* 	margin: 30px 50px 50px 100px; */
/* margin-left: auto; */
	/*max-width: 610px;*/
 	opacity: 1.0; 
 	    width: -webkit-fill-available;
	
}



.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	background: linear-gradient(60deg, #ef5350, #e53935);
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.mat-row {
	align-items: stretch;
	padding: 20px 10px 20px 20px;
}

.mat-cell {
	display: flex;
	align-items: center;
}

.mat-column-symbol, .mat-column-name {
	max-width: 160px;
}

.mat-cell.mat-column-comment {
	cursor: pointer;
}


.mat-drawer-container {
	background-color: inherit;
}

.mat-drawer {
	background-color: inherit;
	color: rgba(0, 0, 0, .87);
	top: 44px;
    position: fixed;
}
.sidebar-right .nav li a, .sidebar-right .nav li .dropdown-menu a {
    
    border-radius: 3px;
    color: #3C4858;
    text-transform: capitalize;
    font-size: 14px;
    width: 100%;
    margin: 0px 0px 0; 

}


.left-nav-icon
{

    position: sticky;
    left: 370px;
    top: 54px;

}
.btn-breakpage {
    font-size: 13px;
    border-radius: 3px;
    background: none;
    border: none;
    box-shadow: none;
    color: var(--input-border-color);
    font-weight: 400;
    transition: all .25s ease!important;
}
.page-break{
	text-align:center;
	width:100%;
	color: var(--input-border-color);
	

}

.page-break:before, .page-break:after{
	border-bottom: 2px dashed var(--input-border-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 18%;
    margin-top: -2px;
}

/* CSS FOR RIPPLE EFFECT NOT WORKING */
/* REFERENCE: https://codepen.io/chrisunderdown/pen/JeXNoz?__cf_chl_jschl_tk__=e7b6c858c7f59b087e226e4e8424d7b54806360b-1592289327-0-AWqJZwETwx3hOHwYMCNLevaQtwpjWuz0RZdqmcvo8Z6J0cdROclrt7H8DY-oWGfzJCjSEwqbugmHzeUWGoMbhtqqwxxbM4UO9qOrVshuZSqxsDGxU-xQ9cA3rvg75Z2WO5vmkUITQC2pxJ_hip1anwF51hcgKPh2o-v-ssV3LotTjHktmG8qjMDaWZ1L-S1shCJ20G8HdNNJ4SaSDKXMIM6A08HNPGGCQqUwh99H-2eus3SI8_c9mDZL7rqsR7T6TI7sDKMqt13eBGD2wXzVebmsvsBYs3eKFgo6ahiQiDqnQEko2T-Zh57lMiFhkPhIdTE_KEOU49erKBScF0UI_uEkGvlKHMZIdzViTbUTyjAIVhv8TiHBRDPwu_sepStumg */
.ripple-icon {
	 position: relative;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 height: 44px;
	 width: 44px;
	 border-radius: 100%;
	 background: blue;
}
 .ripple-icon span {
	 position: relative;
	 font-size: 23px;
	 top: 0px;
	 left: 0px;
}
 .ripple-icon::after,.ripple-icon::before {
	 opacity: 0;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 background: #ef5350;;
	 top: 0px;
	 left: 0px;
	 right: 0;
	 bottom: 0;
	 content: '';
	 height: 100%;
	 width: 100%;
	 border: 8px solid rgba(0, 0, 0, 0.2);
	 border-radius: 100%;
	 animation-name: ripple;
	 animation-duration: 3s;
	 animation-delay: 2s;
	 animation-iteration-count: infinite;
/* 	 animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1); */
	 z-index: -1;
}

 @keyframes ripple {
	 from {
		 opacity: 1;
		 transform: scale3d(0.75, 0.75, 1);
	}
	to {
		 opacity: 0;
		 transform: scale3d(2,2,1);
	}
}
.property-icon-left1
{
    position: absolute;
   top: 65px;
    left: 20px;
   z-index: 2;
}
  
.bar
{   
    position: absolute;
    /* border: 3px solid #ef5350; */
    left: 0px;
    top: 63px;
    width: 107px;
    color: #fff;
    text-align: center;
    z-index: 2;
    height: 51px;
    padding-right: 17px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    font-size: 0.9rem;
    line-height: 1.2em;
    font-weight: 300;
    background: #e53935;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-top: 9px;
}
/* END CSS EFFECTS CUSTOM */

/* MATERIAL DEEP */
.mat-nav ::ng-deep .mat-tab-body-wrapper {
    
    background: var(--nav-dark);
}
/deep/ .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    height: 40px;
    min-height: 50px;
    /* align-content: center; */
    align-items: flex-end;
    background: var(--nav-darker);
}


/deep/ mat-tab-label.mat-tab-label-active {
opacity: 1;
 background-color:var(--nav-darker) !important;
 
}
/deep/ .mat-tab-label {
    height: inherit !important;
    min-height: inherit !important; 
/* 	padding: 0 24px; */
	padding: 0 0px !important;
/* 	margin-top: 10px !important; added by me */
    cursor: pointer;
    box-sizing: border-box;
/*     opacity: .6; */
  	opacity: 1.0 !important;
    width: -webkit-fill-available !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: white;
    min-width: max-content !important;
     margin-bottom: 5px;
}
/deep/ mat-ink-bar {
    background-color: var(--nav-selected) !important;
    height: 5px !important;
}
/* END MATERIAL DEEP */

