.main-div
{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.circle-icon2 {
    background: linear-gradient(60deg, #ef5350, #e53935);
    padding:10px;
    border-radius: 50%;

}
.property-icon
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px 10px;
 	margin-top: 16px;
 	z-index: 5;
}
.property-icon-right
{
    position: absolute;
    top: 22px;
    left: 0px;
    margin: 10px 10px;
    margin-top: 40px;
   z-index: 2;
}
.circle-icon
{
 	background: #ef5350;
    padding: 14px;
    border-radius: 50%;
    border-color: black;
    color: #ffffff;
}
.property-icon2
{
	position: absolute;
    top: 0px;
    right: 0px;
    margin: 12px 30px;
    color: #da8d15;
    font-size: 50px;
    
   

}
.form-background
{
	background-repeat: repeat-xy;
}
.flex_tree_column
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
 /*  justify-content: space-between; */
  width: 100%;
  background-size: cover;
  
}
.icon-message {
	color: #ffffff;
	padding: 10px 10px;
	
}
.setting-icon {
 
  height: 25px;
  width: 25px;
  color: white;
    
}

.left-col
{
	/* 	min-width: 1px; */
	height: 100%;
	flex-direction: column;
	/* width: 100%; */
	height: 100%;
	
	flex: 1 auto;
	background: #FFFFFF;
	padding-right: 5px;


	
}
.mat-raised-button
{
	height: 35px;
	margin: 10px;
}
.center-col
{
	margin-left:500px;
	flex-grow: 1;
	
	align: center;
}




.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-height: 750px;
}

.toolbox-toolbar {
	width: 500px;
	max-width: 100%;
	border: solid 5px #fff;
	min-height: 60px;
/* 	display: block; */
/* 	background: white; */
	overflow: hidden;
	opacity: 0.9;
	background: darkblue;
}
.toolbox-toolbar:before{
 content: “ ”;
 background: inherit; 
 position: absolute;
 left: 0;
 right: 0;
 top: 0; 
 bottom: 0;
 box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
 filter: blur(20px);
}
.toolbox-toolbar:before{
 content: “ ”;
 background: inherit; 
 position: absolute;
 left: 0;
 right: 0;
 top: 0; 
 bottom: 0;
 box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
 filter: blur(20px);
}
.toolbox-toolbar-row {
	
	border-bottom: solid 0px #ccc;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	//justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: #313030;
	font-size: 14px;
	margin: 12px 10px;
	background: inherit;
	width: -webkit-fill-available;
}

.tool-icon-white {
	height: 40px;
	width: 60px;
	color: white;
	padding-left: 10px;
	background: inherited;
	/*   margin-right: 30px; */
}
.tool-icon {
	padding: 0 0px 0 0;
	height: 50px;
	width: 50px;
	background: darkblue;
	opacity: 1.0;
	margin-right: 30px;
}
.toolbox-toolbar-row-spacer {
	flex: 1 1 auto;
}

.right-nav{
	display: flex;
	flex-wrap: wrap;
	widht: 275px;
	max-width: 275px;



}


.form-main {
	border: solid 0px #000;
	min-height: 80px;
	border-radius: 10px;
	background: transparent;
	overflow: hidden;
/* 	margin: 30px 50px 50px 100px; */
/* margin-left: auto; */
	max-width: 610px;
 	opacity: 1.0; 
	
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px
		rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	background: linear-gradient(60deg, #ef5350, #e53935);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	background: linear-gradient(60deg, #ef5350, #e53935);
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.mat-row {
	align-items: stretch;
	padding: 20px 10px 20px 20px;
}

.mat-cell {
	display: flex;
	align-items: center;
}

.mat-column-symbol, .mat-column-name {
	max-width: 160px;
}

.mat-cell.mat-column-comment {
	cursor: pointer;
}


.mat-drawer-container {
	background-color: inherit;
}

.mat-drawer {
	background-color: inherit;
	color: rgba(0, 0, 0, .87);
}
.sidebar-right .nav li a, .sidebar-right .nav li .dropdown-menu a {
    
    border-radius: 3px;
    color: #3C4858;
    text-transform: capitalize;
    font-size: 14px;
    width: 100%;
    margin: 0px 0px 0; 

}
.sidebar-right {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    height: 100%;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.left-nav-icon
{

    position: fixed;
    left: 232px;
    top: 54px;

}
.head
{
	    /* align-items: center; */
    /* align-content: center; */
    /* align-self: center; */
    color: red;
    line-height: 26px;
    background-color: #ef5350;
    display: block;
    /* margin: 50px auto 0; */
    /* width: 100px; */
    /* height: 60px; */
    color: #FFF;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 1px 5px 10px px #000000;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: 20px;
    font-variant-caps: small-caps;
}
/* end css for side navigation */


