
<div class="wrapper" style="background:#fff !important;height: 100% !important;">

<!--          		data-background-color="white" data-image="./assets/img/sidebar-1.jpg"> -->
    <div *ngIf="!isMaps('formdev') && !isMaps('login') && !isMaps('inbox') 
    			&& !isMaps('formBuilder') && !isMaps('formPreview') && !isMaps('resetpassword')
    			&& !isMaps('form/')" class="sidebar" data-color="danger" data-background-color="white" >
        <app-sidebar></app-sidebar>
<!--         <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div> -->
         <div class="sidebar-background" ></div>
    </div>
<!--     <div *ngIf="isMaps('formBuilder')" class="sidebar" data-color="danger"  -->
<!--          data-background-color="white" data-image="./assets/img/sidebar-1.jpg"> -->
<!--     	<sidetoolbar></sidetoolbar> -->
<!--         <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div> -->
<!--     </div> -->
    
    
    
   <div class="singlePage" *ngIf= "isMaps('formdev') || isMaps('inbox') || isMaps('formPreview') || isMaps('formBuilder') || isMaps('form/') else elseBlock">
<!--    		<app-inbox-navbar></app-inbox-navbar> -->
   		<router-outlet></router-outlet>
   		
   </div>
   <ng-template #elseBlock>

		<div  *ngIf="!isMaps('login') && !isMaps('resetpassword') else fullPage" class="main-panel">
        	<div >
        		<app-navbar></app-navbar>
        	</div>
        	<router-outlet></router-outlet>
        	<div *ngIf="isMaps('maps')">
            	<app-footer></app-footer>
        	</div>
    	</div>
	</ng-template>
	<ng-template #fullPage>
		<router-outlet></router-outlet>
	</ng-template>
</div>
