.navbar.navbar-transparent {
	padding-top:19px !important;
}
.navbar.navbar-transparent {
    background-color: #f44336 !important;
    box-shadow: none;
    padding-top: 25px;
    box-shadow: 0 3px 3px -1px #c1817cfc;

}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: #fff !important;
    background-color: #fff !important;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}