<div class="nav-content nav-color">
	<div class="head">
		Survey Properties <span class="right-nav-icon"><i
			class="fa fa-times" aria-hidden="true"
			(click)="openCloseRightPanel()"></i></span>
	</div>
	<div class="mat-nav">
			
				
	
		<div *ngIf=" frm && actvieFormField">
			<mat-tab-group mat-align-tabs="center" class="nav-content tab-header"
				disablePagination="false" selectedIndex="1"> 
			<mat-tab label="GENERAL" class="tab-menu">
			<div style="height: calc(100vh - 140px);">
			<perfect-scrollbar>
			<div class="tab-content">
				<div class="tab-row">
						<span class="tab-property-label">Survey Name</span>
						<div class="mat-nav">
							<mat-form-field appearance="outline"> 
								<input matInput name="fname" [(ngModel)]="actvieFormField.name"> 
<!-- 								<mat-label class="tab-label-text">Field Name</mat-label>  -->
								<mat-hint align="end" class="tab-label-text">This will be shownin report</mat-hint> 
							</mat-form-field>
						</div>

				
				</div>
						<div class="tab-row">
					<span class="tab-property-label">Survey Note</span>
					<div class="mat-nav">
						<mat-form-field appearance="outline"> 
						<input matInput name="fname" [(ngModel)]="actvieFormField.note"> 
<!-- 							<mat-label class="tab-label-text">Field Hint</mat-label>  -->
						</mat-form-field>
					</div>
				</div>
		    </div>
			</perfect-scrollbar>
			</div>
			</mat-tab> 
			<mat-tab  label="Questions/Options" class="tab-menu">
			<div style="height: calc(100vh - 140px);">
			<perfect-scrollbar>
			<div class="tab-content">
				<div class="tab-row">
						<span class="tab-property-label">Questions</span>
						<div class="mat-nav">
							<mat-form-field appearance="outline"> 
								<textarea matInput rows="6" 
								style="overflow:auto" 
								cols="30" 
								[(ngModel)]="tmpQuestions"
								(keyup)="questionChange()"
								
								></textarea>
								<mat-hint class="note">Provide each option on new line OR comma-seperated values</mat-hint> 
							</mat-form-field>
					  </div>
				</div>
				<div class="tab-row">
						<span class="tab-property-label">Options</span>
						<div class="mat-nav">
							<mat-form-field appearance="outline"> 
								<textarea matInput rows="6" 
								style="overflow:auto" 
								cols="30" 
								[(ngModel)]="tmpOptions"
								(keyup)="optionsChange()"
								
								></textarea>
								<mat-hint class="note">Provide each option on new line OR comma-seperated values</mat-hint> 
							</mat-form-field>
					  </div>
				</div>
	

			    </div>
			</perfect-scrollbar>
			</div>
			</mat-tab>
			<mat-tab mat-tab label="VISIBILITY" class="tab-menu">
			<div style="height: calc(100vh - 140px);">
			<perfect-scrollbar>
			<div class="tab-content">
				<div class="tab-row">
					<div>
						<span class="tab-property-label">Visibility</span>
					</div>
					<div>
							<mat-slide-toggle class="example-full-width" [(ngModel)]="actvieFormField.visible" >
          						<div *ngIf="actvieFormField.visible">Field is visible</div>
          						<div *ngIf="!actvieFormField.visible">Field is hidden</div>
		      				</mat-slide-toggle>
					</div>
				</div>
				<div class="tab-row">
					<div>
						<span *ngIf="!actvieFormField.visible" class="tab-property-label">Set Condition To Show Field</span>
						<span *ngIf="actvieFormField.visible" class="tab-property-label">Set Condition To Hide Field</span>
					</div>
					<div class="tab-sub-row">
							<div class="tab-col">
								<div class="tab-col-content mat-nav" >
									<mat-form-field appearance="outline"> 
										<mat-select class="tab-label-text" > 
											<mat-option *ngFor="let field of frm.formFields" value="{{field.id}}">
												<div class="tab-label-text">{{field.name}}</div>
											</mat-option> 
										</mat-select> 
									</mat-form-field>
								</div>
								<div class="tab-col-content mat-nav" >
								<mat-form-field appearance="outline"> 
										<mat-select class="tab-label-text" > 
											<mat-option *ngFor="let op of operator" value="{{op}}">
												<div class="tab-label-text">{{op}}</div>
											</mat-option> 
										</mat-select> 
								</mat-form-field>
								</div>
							</div>
							<div class="mat-nav" >
									<mat-form-field appearance="outline"> 
										<input matInput/> 
										<mat-placeholder>Value</mat-placeholder>
										<mat-hint align="end" class="tab-label-text">Provide comma seperated values</mat-hint> 
									</mat-form-field>
							</div>
					 </div>
				</div>
			
			</div>
			</perfect-scrollbar>
			</div>
			</mat-tab>
			
			</mat-tab-group>
		</div>
	</div>
</div>



