.hint-margin{
    margin-bottom: 20px;
}
.button-row{
    display: inline-flex;padding-right:20px
}
.a-link{
    color: #53ac57 !important;
    font-weight: 400;
    cursor: pointer;
    font-weight: 600;
}
.btn-google{
    background: #f5f3f3;
    color: #040404;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;
    margin: 10px 0px;
    margin-right: 10px;
}
.row-social{
    display:inline-flex;
}