<div *ngIf="frm" [style]="sanitizeHTML(bgStyle)" style="min-height: 110vh; height: 100%;">
	<div class="main-div">
		<div class="main-form-class" id="form" [style.max-width.px]=frm.formwidth [style.background-color]=frm.bgColor>
			<div [style]="sanitizeHTML(frm.style)">
				<div [froalaView]="frm.thanksdata"></div>
			</div>
			<p></p>
			<div>
				<table>
					<tr>
						<td><button onclick="self.close()" mat-raised-button color="primary">Close</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>