<div class="formdashboard-main dashboard-color">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#">
                <img src="/assets/img/form/makemyform.png">
            </a>
            <div class="headNav">
                <a [routerLink]="['/myforms']">My Forms</a>
                <a href="#">Templates</a>
                <a href="#">Integrations</a>
                <a href="#">Features</a>
                <a href="#">Support</a>
                <a href="#">Pricing</a>
            </div>
        </div>
    </nav>


    <div class="container nav-color bg-style">
        <div class="pageWrapper">
            <div class="anaTabMain">
                <h5>Form Analytics</h5>
                <a href="#">Form</a>
            </div>
            <div class="anaTabs" [@.disabled]="true">
                <!-- mat-stretch-tabs -->
                <div>
                <mat-tab-group (selectedTabChange)="tabChangeEvent($event)" class="mat-elevation-z4" animationDuration="1000ms">
                    <mat-tab label="Current Week">
                        <analytics mode="week" [formID]="formID" [fromDate]="weekStartDate" [toDate]="weekEndDate"></analytics>
                    </mat-tab> 
                   <mat-tab label="Current Month">
                        <analytics mode="month" [formID]="formID" [fromDate]="monthStartDate" [toDate]="monthEndDate"></analytics>
                    </mat-tab>
                    <mat-tab label="All Time">
                        <analytics mode="alltime" [formID]="formID" [fromDate]="allTimeStartDate" [toDate]="allTimeEndDate"></analytics>
                    </mat-tab>
                    <mat-tab label="Date Range">
                        <div class="date-range">
                            <div class="date-selection">
                                <div style="margin-top:3px;margin-right: 10px;">Date range in</div>
                                <div style="width:130px">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="fdtPicker" [(ngModel)]="fromDate"
                                            (dateChange)="show()">
                                        <mat-datepicker-toggle matSuffix [for]="fdtPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #fdtPicker></mat-datepicker>
                                    </mat-form-field>
                                  
                                </div>
                                <div style="margin-left: 10px;margin-top: 2px;margin-right: 10px;">-</div>
                                <div style="margin-right: 10px;width:130px">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="tdtPicker" [(ngModel)]="toDate"
                                            (dateChange)="show()">
                                        <mat-datepicker-toggle matSuffix [for]="tdtPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #tdtPicker></mat-datepicker>
                                    </mat-form-field>

                                
                                </div>

                            </div>

                        </div>
                        <div >
                            <analytics #customChartTab mode="custom" [formID]="formID" [fromDate]="fromDate" [toDate]="toDate"></analytics>
                        </div>
                      



                    </mat-tab>
                </mat-tab-group>
            </div>
              
         
            </div>
        </div>
    </div>

</div>