<div class="main">
	<div class="ngLoader"></div>
	<form-topnav page="inbox" [formID]="formID" [isChecked]="false" link="build"></form-topnav>
	<div *ngIf="!responseData" class="col-md-12">
         <div class="card"><mat-progress-bar color="warn" mode = "indeterminate" ></mat-progress-bar></div>
	</div>
	<div class="main-content nav-color">
    	<div class="mat-nav">
    		<mat-drawer-container style="height:100%;">
    			<mat-drawer #drawerleft  mode="side"  opened="true"  class="left-pan">
    			
    				<div class="nav-content">
    					<mat-tab-group mat-align-tabs="center" class="nav-content tab-header" disablePagination="false">
    						<mat-tab label="Inbox" class="tab-menu" style="height:100% !important;">
    							<div class="resp-list" id="container">
	    							<div *ngFor="let r of responseData" class="inboxrow" id="{{ 'row' + r.title }}" (click)="rowClick(r.title)">
	    								<div >
	    									<input type="checkbox" class="chkbox"/>
	    								</div>
	    								<div class="title">{{r.title}}</div>
	    								<div>
	    									<mat-icon class="mat-icon">star</mat-icon>
	    								</div>
	    							</div>
    							</div>
							</mat-tab>
							<mat-tab label="Archived" class="tab-menu">
						<!-- 				<div style="height: calc(100vh - 140px);"> -->
								<div>
									<perfect-scrollbar> 
									</perfect-scrollbar>
								</div>
							</mat-tab>
							<mat-tab label="Trash" class="tab-menu">
						<!-- 				<div style="height: calc(100vh - 140px);"> -->
								<div>
									<perfect-scrollbar> 
									</perfect-scrollbar>
								</div>
							</mat-tab>
    		    		</mat-tab-group>
    				</div>
    			</mat-drawer>
    				<div class="resp-toolbar">
    					<div>
    						<mat-icon style="margin-top:2px;">local_offer</mat-icon>
    					</div>
    					<div style="flex-grow:1;">
    						<mat-form-field class="col-md-12">
<!-- 			<mat-form-field class="example-chip-list"> -->
  								<mat-chip-list #chipList>
    								<mat-chip
      									*ngFor="let fruit of fruits"		
      									[selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New fruit..."
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
    					</div>
    					<div >
    						<mat-icon>arrow_circle_down</mat-icon>
    					</div>
    					<div >
    						<mat-icon style="margin-top:2px;">add_comment</mat-icon>
    					</div>
    					<div >
    						<mat-icon >archive</mat-icon>
    					</div>
    				
    				</div>
			      <div *ngIf="currentResp" class="res-main" >
			   			   <div class="res-header">
			   			   		<div class="res-title">{{currentResp.title}}</div>
			   			   		<div class="res-sub-title">
			   			   			<div class="res-sub-title-label">Submission Date</div>
			   			   			<div class="res-sub-title-date">{{currentResp.resTime}}</div>
			   			   		</div>
			   			   </div>
			   			   <div  class="res-content">
			   			   		<div *ngFor="let colname of dispColNew " class="res-content-row">
			   			   			<div class="res-question">{{colname}}</div>
			   			   			<div class="res-answer">{{currentResp[colname]}}</div>
			   			   		</div>
			   			   		<div  class="res-content-row">
			   			   			<div class="res-question">Submission IP</div>
			   			   			<div class="res-answer">{{currentResp.IpAddress}}</div>
			   			   		</div>
			   			   </div>
			      </div>
    		</mat-drawer-container>

	
</div>
</div>
</div>
