<div class="ngLoader"></div>
<div class="main-content">
	<div class="container-fluid">
	<div class="row">
                  <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="hourlyChartDiv"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Hourly Response</h4>
                      <p class="card-category">Busiest hour is <span class="text-success">{{maxHr}} </span></p>
                  </div>
<!--                   <div class="card-footer"> -->
<!--                       <div class="stats"> -->
<!--                           <i class="material-icons">access_time</i> campaign sent 2 days ago -->
<!--                       </div> -->
<!--                   </div> -->
              </div>
          </div>
          </div>
		 <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="weekDaysChartDiv"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Week Days Response</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{goodDay}} </span> is the most responsive day.</p>
                  </div>
<!--                   <div class="card-footer"> -->
<!--                       <div class="stats"> -->
<!--                           <i class="material-icons">access_time</i> updated 4 minutes ago -->
<!--                       </div> -->
<!--                   </div> -->
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="montlyChartDiv"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Monthly Response</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
<!--                   <div class="card-footer"> -->
<!--                       <div class="stats"> -->
<!--                           <i class="material-icons">access_time</i> campaign sent 2 days ago -->
<!--                       </div> -->
<!--                   </div> -->
              </div>
          </div>

         
         
  
          </div>
          
          
          </div>
    
	
	</div>


