<div class="wrapper">
<div class="sidebar" data-color="danger">
	<div class="sidebar-wrapper">
		 <ul class="nav">
        	<li routerLinkActive="active">
            	<a class="nav-link" (click)="changePubPage('share')">
                	<i class="material-icons" >share</i>
                	<p>QUICK SHARE</p>
                	<span>Share your link to social media directly</span>
            	</a>
        	</li>
        	<li routerLinkActive="active">
            	<a class="nav-link" (click)="changePubPage('embed')">
                	<i class="material-icons">gesture</i>
                	<p>EMBED</p>
                	<span>Embed your form to other services</span>
            	</a>
        	</li >
        		<li routerLinkActive="active">
            	<a class="nav-link" (click)="changePubPage('email')">
                	<i class="material-icons" >mail</i>
                	<p>EMAIL</p>
                	<span>Remind or share to group of people instantly</span>
            	</a>
        	</li>
        	
       	</ul>
</div>
</div>
</div>