.sidebar {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    z-index: 110;
    width: 260px;
    background: #3e4652;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 11px;
    padding: 10px 15px;
}
.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    font-weight: bold;
}
.sidebar .nav span {
    font-size: 11px;
    height: auto;
    white-space: inherit;
   
    
}