<div class="formdashboard-main">
<nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <img src="/assets/img/form/makemyform.png">
        </a>
		<div class="headNav">
			<a href="#">My Forms</a>
			<a href="#">Templates</a>
			<a href="#">Integrations</a>
			<a href="#">Features</a>
			<a href="#">Support</a>
			<a href="#">Pricing</a>
		</div>
      </div>
    </nav>

    
		<div class="container nav-color bg-style">
			<div class="pageWrapper">
				<div class="anaTabMain">
					<h5>Form Analytics</h5>
					<a href="#">Form</a>
				</div>
				<div class="anaTabs">
				
                    <mat-tab-group mat-stretch-tabs class="mat-elevation-z4" >
                        <mat-tab label="Current Week"> 
                            <div style="background:#fff; ">
                                <data-chart [formID]="formID" showCard=false bgColor="rgba(0,0,0,0)" hideXGrid=true [fillColor]="fillColor" [pointColor]="pointColor" [parentQuery]="currentWeekQuery" isEditable="false" title="Current Week Response Analytics"></data-chart>
                            </div>
                            <div class="anaTabsContainer">
                                <div class="mmf-number">
                                    <ul>
                                        <li *ngFor="let obj of viewNumber">
                                            <div class="number">{{obj.key}}</div>
                                            <div class="views">{{obj.value}}</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" >
                                    <countries-map [data]="mapData"></countries-map>
                                </div>
                             </div>
                        </mat-tab>
                        <mat-tab label="Current Month">
                            <div style="background:#fff">
                                <data-chart [formID]="formID" showCard=false bgColor="rgba(0,0,0,0)" hideXGrid=true [fillColor]="fillColor" [pointColor]="pointColor" [parentQuery]="currentMonthQuery" isEditable="false" title="Current Month Response Analytics"></data-chart>
                            </div>
                            <div class="anaTabsContainer">
                                <div class="mmf-number">
                                    <ul>
                                        <li *ngFor="let obj of viewNumber">
                                            <div class="number">{{obj.key}}</div>
                                            <div class="views">{{obj.value}}</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" >
                                    <countries-map [data]="mapData"></countries-map>
                                </div>
                             </div>
                        </mat-tab>
                        <mat-tab label="All Time"> 
                            <div style="background:#fff">
                                <data-chart [formID]="formID"  showCard=false bgColor="rgba(0,0,0,0)" hideXGrid=true [fillColor]="fillColor" [pointColor]="pointColor" [parentQuery]="allTimeQuery" isEditable="false" title="All Time Response Analytics"></data-chart>
                            </div>
                            
                            <div class="anaTabsContainer">
                                <div class="mmf-number">
                                    <ul>
                                        <li *ngFor="let obj of viewNumber">
                                            <div class="number">{{obj.key}}</div>
                                            <div class="views">{{obj.value}}</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" >
                                    <countries-map [data]="mapData"></countries-map>
                                </div>
                                
                             </div>
                        </mat-tab>
                        <mat-tab label="Date Range"> 
                            <div class="date-range">
                                <div class="date-selection">
                                    <div style="margin-top:3px;margin-right: 10px;">Date range in</div>
                                    <div style="width:130px">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="fdtPicker" [(ngModel)]="fromDate" (dateChange)="show()">
                                            <mat-datepicker-toggle matSuffix [for]="fdtPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #fdtPicker></mat-datepicker>
                                        </mat-form-field>
                                        <!-- <p-calendar (onSelect)="show()" [(ngModel)]="fromDate" dateFormat="dd-mm-yy" style="margin-left: 5px;">
                                        </p-calendar> -->
                                    </div>
                                    <div style="margin-left: 10px;margin-top: 2px;margin-right: 10px;">-</div>
                                    <div style="margin-right: 10px;width:130px">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="tdtPicker" [(ngModel)]="toDate" (dateChange)="show()">
                                            <mat-datepicker-toggle matSuffix [for]="tdtPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #tdtPicker></mat-datepicker>
                                        </mat-form-field>    

                                        <!-- <p-calendar (onSelect)="show()" [(ngModel)]="toDate" dateFormat="dd-mm-yy" style="margin-left: 5px;">
                                        </p-calendar> -->
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div style="background:#fff">
                                <data-chart #customChart [(formID)]="formID"  showCard=false bgColor="rgba(0,0,0,0)" hideXGrid=true [fillColor]="fillColor" [pointColor]="pointColor" [(parentQuery)]="customQuery" isEditable="false" title="Custome Range Analytics"></data-chart>
                            </div>
                            <div class="anaTabsContainer">
                                <div class="mmf-number">
                                    <ul>
                                        <li *ngFor="let obj of viewNumber">
                                            <div class="number">{{obj.key}}</div>
                                            <div class="views">{{obj.value}}</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" >
                                    <countries-map [data]="mapData"></countries-map>
                                </div>
                             </div>
                           
                           
                           
                        </mat-tab>
                      </mat-tab-group>
					<div class="anaTabsContainer">
				
						<div class="mmfTabs">
							<ul class="nav nav-tabs">
							  <li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">This week</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#">This month</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#">All time</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#">Custom</a>
							  </li>
							</ul>
							<div class="mmfTabCont">
								<ul class="gridList">
									<li class="girdListHead">
										<div class="lableTxt">Recent Visitors</div>
										<div class="date">Dates</div>
										<div class="response">Response</div>
										<div class="duration">Duration</div>
										<div class="location">Location</div>
										<div class="device">Device</div>
									</li>
									<li *ngFor="let re of dataResponse">
										<div class="lableTxt">{{re.vis}}</div>
										<div class="date">{{re.time}}</div>
										<div class="response">{{re.resp}}</div>
										<div class="duration">{{re.dur}}</div>
										<div class="location"><img src="/assets/img/form/flag.png"></div>
										<div class="device"><img src="/assets/img/form/desk.png"></div>
									</li>
							
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  