.field-row{
/* 	padding-right:10px; */
	margin: 0px 0px 20px 0px;
}
.flex-col{
	display:flex;
	flex-flow: column;
	
}
.num-spinner{
	
	flex-grow: 1;
	display: inline-flex;
	
}
/deep/ .num-spinner .wrapper{
	height:40px;
}
/deep/ .num-spinner .wrapper button{
	background:var(--thumb-color);
}
/deep/ .num-spinner .wrapper .ripple:hover{
	cursor: pointer;
    opacity:0.6;
    background:var(--thumb-color)!important;
/*     background:var(--comp-color) !important; */
}
.main-form-class {
/* 	border-radius: 10px; */
/* 	padding: 10px 30px 10px 30px; */
	padding: 0px 0px;
/* 	 border: 2px dashed #c5c6c8; */
	    /*margin: 0px 20px;*/
}
form {
     margin-bottom: 0px; 
}
.frm-mat{
	/* margin-bottom: 10px; */
	
	
}
.button-row{
	align-self: flex-end;
	margin-bottom: -7px;
    /* margin-right: -60px; */
}

.signature
{
	margin-bottom: 15px;
	
}

.frm-mat ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--input-border-color);
}
.frm-mat ::ng-deep .mat-form-field-outline-thick, 
.frm-mat ::ng-deep .mat-input-element::placeholder, 
::ng-deep .mat-datepicker-toggle-default-icon{
	color: var(--input-border-color-focus) !important;
	
}
.frm-mat ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--input-border-color-focus) !important;
}
.frm-mat ::ng-deep  .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: var(--input-border-color-focus);
}
.frm-mat ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--thumb-color);
} 
.frm-mat ::ng-deep .mat-slide-toggle-thumb {
    background-color: #aaa;
} 
.frm-mat ::ng-deep .mat-form-field-underline {
    background-color: var(--input-border-color) !important;
}
.frm-mat ::ng-deep .mat-form-field-ripple {
    background-color: var(--ripple-color) !important;
}

.frm-mat ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
{
	background-color: var(--thumb-color) !important;
/* 	opacity: 0.3; */
}
.frm-mat ::ng-deep .mat-input-element {
    caret-color: var(--input-border-color-focus) !important;
}
/* .frm-mat ::ng-deep .mat-input-underline { */
/*     background-color: var(--input-border-color) !important; */
/* } */
::ng-deep .mat-option {
	color: var(--comp-color) !important;
	background-color: var(--comp-bg-color) !important;
}

.select-group-label-frm ::ng-deep .mat-optgroup-label
{
	
	background: var(--comp-bg-color) !important;
    color: var(--comp-color) !important;
    border-top: 3px solid var(--comp-color);
    border-bottom: 3px solid var(--comp-color);
    padding-left: 5px;
    margin-bottom: 0px;
	
	
/*     text-align: center; */
}

::ng-deep .mat-option-pseudo-checkbox
{
	color: var(--comp-color) !important;
	background: var(--comp-color) !important;
	opacity:0.5
	
}
::ng-deep .mat-pseudo-checkbox::after
{
	color: var(--comp-bg-color) !important;
}

.tab-label-text
{
	color: var(--comp-color);
}

::ng-deep .mat-datepicker-content {
    background-color: var(--comp-bg-color);
    color: var(--comp-color);
}
::ng-deep .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-table-header th,
::ng-deep .mat-calendar-body-label,
::ng-deep .mat-calendar-previous-button::after, 
::ng-deep .mat-calendar-next-button::after, 
::ng-deep .mat-select-arrow {
	color: var(--comp-color);
}


::ng-deep .mat-calendar-arrow {
    border-top-color: var(--comp-color);
}



.icon-color{
	color: var(--icon-color);
}
.devider
{
	margin-bottom: 15px;
	border-top-color: var(--input-border-color);
}

/deep/ .mat-select-value {
    color: inherit;
}


.dark-theme-custom {
/* 	color: #ffffff; */
}
.head-div{
	padding:0px 0px;
	
	
}
.title {
   
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin-top: 70px; */
    background: var(--thumb-color) !important;
    text-align: center;
    font-size: 30px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom:10px;
/*     border: 2px dashed rgb(197, 198, 200); */
    border-bottom: 0px !important;
    
    color: var(--comp-color);
	

}
.example-list {
	
	max-width: 100%;
	min-height: 60px;
	display: block;
	border-radius: 4px;
	overflow: hidden;
}




/* Ripple effect button
Reference https://codepen.io/finnhvman/pen/jLXKJw
Usage:
<button class="ripple-button ripple">Button</button>
 */
 
 .ripple-line-hover-old{
    background: linear-gradient(to right, var(--thumb-color)  50%, var(--comp-color) 50%) !important;
    background-size: 200% 100% !important;
  	background-position: right bottom !important;
  	transition: all .5s ease-out;
  	display: block;
 

}
.ripple:hoverline-hover-old  
{

	background-position: left bottom !important;
	color:var(--comp-color) !important;
/* 	background:var(--thumb-color) !important;  */
}
 
.ripple {
  background-position: center;
  transition: background 0.8s;
  
}
.ripple:hover {
/*   background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000% !important; */
/* 	opacity:80% !important; */
/* 	 box-shadow: 0px 10px 20px blur inset ; */
/* 	 box-shadow: 0px 0px 11px inset; */
	background: var(--thumb-color) !important;
	color: var(--comp-color) !important;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.ripple-button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
/*   text-transform: uppercase; */
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}
.width-40{
  
	flex-grow: 0;
	width:0px;
}

.width-30{
	max-width: 25% !important;
    margin-right: 1px;
     flex-grow: 1;
}
.justify-right{
    justify-content: flex-end;
}

.form-main{
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding-top: 15px;
}

.width-inherit
{
	width: inherit;
}
.example-full-width {
	width: 100%;
}
.example-full-width1 {
	width: 100%;
}
.submit-row {
	width: 100%;
	display: flex;
	margin-top: 30px;
/* 	margin-top: 50px; */
}
.example-small-width {
	width: 45%;
}
.example-half-width {
	width: 45%;
}
.next-width-30
{
	
	max-width: 50% !important;
	width:50%;
	/* margin-right: 1px; */
	/* margin-left: 1px; */
    flex-grow: 1;
}
.prev-width-30{
	max-width: 50% !important;
	width:50%;
	/* margin-right: 1px; */
	/* margin-left: 1px; */
	flex-grow: 1;
	opacity:80%;
	background: var(--thumb-color) !important; 
}

.width-70
{
	max-width:65% !important;
	flex-grow: 1;
}

.multifield-fixed
{
	display: -webkit-inline-box;
    width:90%;
}
.multifield
{
/*     display: -webkit-inline-box; */
    display: inline-flex;
/*     flex-wrap: wrap; */
/*     width: inherit; */
/*     flex-wrap: wrap; */
	flex-wrap: wrap;
	width:100%;
    justify-content: space-between;
        
    /* width:98%; */
}
.flex
{
	display: flex;
}    
.subfield {
/*    margin-right: 10px; */
/*     flex-grow: 1; */
    width: 46% ;
/*     margin-left: -36px; */

}
.subfield:last-child
{
	width: 44%;
}

.subfield-full-width {
/*    margin-right: 10px; */
/*    flex-grow: 1; */
   width: 100% ;
/*     margin-left: -36px; */
}
.col-50
{
	max-width:50%;
	width:50%;
}
.col-100
{
	max-width:100%;
	width:100%;
}  
.morevert{
	flex-grow: 1;
    text-align: end;
/*     margin-right: -10px; */
}

.inline {
	width: 100%;
    display: inline-flex;
    transition: 0.3s;
   
}
.row-field{
	padding:0px 30px;
}
.inline-prevnext{
	width: 100%;
    display: inline-flex;
    transition: 0.3s;
    /* margin-left: -30px; */
}

.inline:selected{
	border:1px solid;
	
}

.setting-icon {
	height: 25px;
	width: 25px;
	color: blue;
}

.delete-icon {
	height: 25px;
	width: 25px;
	color: red;
}

.icon-row {
	margin: 0px 0px 0px 30px;
}

.section-text {
	font-weight: 600;
	margin-bottom: -10px !important;
	margin-left: -14px;
}

.FieldToolBox {
	padding: 0 0 0 10px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	color: white;
	font-size: 14px;
}




a {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

th, td {
	padding: 5px;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
}

th, td {
	vertical-align: center;
}

tr {
	vertical-align: center;
}



.cdk-drag-preview {
	box-sizing: border-box;
	font-size: 12px;
	border-radius: 10px;
	/* background: #313030; */
	opacity: 1;
	border-bottom: solid 0px;
	padding: 10px 10px 20px 10px;
	/*   background: linear-gradient(60deg, #ef5350, #e53935); */
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px
		rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not (.cdk-drag-placeholder
	) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.example-spacer {
	flex: 1 1 auto;
}
/* form field classes */

/* .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon */
/* { */
/* 	color: white; */
/* } */
.example-events {
	width: 400px;
	height: 200px;
	border: 1px solid #555;
	overflow: auto;
}

.mat-icon-button {
	padding: 0;
	min-width: 0;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	line-height: 40px;
	border-radius: 50%;
	color: black;
}

/*for rating component*/
 .gift {
      position: relative;
      display: inline-flex;
      font-size: 4rem;
/*       color: #d3d3d3; */
	color:var(--thumb-color);
      width: inherit;
          opacity: 100%;
    }
    .full {
/*       color: #ffa600; */
    }
    .half {
      position: absolute;
      display: inline-flex;
      overflow: hidden;
      color: var(--comp-color);
      width: inherit;
      
    }
    




/*custom scrollbar
ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
https://css-tricks.com/custom-scrollbars-in-webkit/

https://codepen.io/devstreak/pen/dMYgeO?__cf_chl_jschl_tk__=3c1b44c14469b07bf8a225bfe9e0f2535a4b902e-1590185400-0-Af3_yZrL3D7heZAODX_-JOzCvHFn_F9jYd5zjiURlSgQXUy2dt12slMZvx1VFWfcayrQzSOXVyMvK9h_cFkfj3BpXmoLmF-_X4zTVNR669WGv_uUV3ajt-Tegz84hpqXLQC_Us9AGENmIE1as2FoNTB42Wp9ICCsMf3Od8vaL89b2g2IrG02ba3lsOpMo2oQoSQ6qpl30PGB_LA6XOWFAi6KlWsptFq1BF5v7PfORp4LMiGbmvw9c6nLAPAi0mjfP3tKDm6U7rjN4JlHxWvHVWaXomqIpL2uX9tFLI9PgyoCmCt--gNwLJP9D9dQXeCoJLot-R0E4mJtrph-w3Ib2HsjUtrnv1SYSlZ6bLL5ByMn
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar

https://gromo.github.io/jquery.scrollbar/demo/basic.html

   
final one  https://alligator.io/css/css-scrollbars/
*/
/*  /deep/ .mat-select-panel::-webkit-scrollbar { */
/*   width: 12px;               width of the entire scrollbar */
/* } */
/*  /deep/ .mat-select-panel::-webkit-scrollbar-track { */
/*   background: orange;        color of the tracking area */
/* } */
/*  /deep/ .mat-select-panel::-webkit-scrollbar-thumb { */
/*   background-color: blue;    color of the scroll thumb */
/*   border-radius: 20px;       roundness of the scroll thumb */
/*   border: 3px solid orange;  creates padding around scroll thumb */
/* } */


/* .form-select */
/* { */
/* 	background: inherit; */
	
/* } */
/* /deep/ .mat-select-panel::-webkit-scrollbar { */
/*     width: 12px; */
/* } */
 
/* /deep/ .mat-select-panel::-webkit-scrollbar-track { */
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
/*     border-radius: 10px; */
/* } */
 
/* /deep/ .mat-select-panel::-webkit-scrollbar-thumb { */
/*     border-radius: 10px; */
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
/* } */



/*end custom scrollbar


/* end for rating component */
/* /deep/ .mat-menu-panel  */
/* { */
/* 	background-color: #313030 !important; */
/* 	opacity: 0.7 !important; */
/* 	border-radius: 10px !important;  */

/* } */
/* /deep/ .mat-menu-item { */
/*  color: #fff !important; */
/* } */

/* /deep/ .mat-menu-item:hover{ */
/*  background-color: #000 !important; */
/* } */
/* button.mat-menu-item{ */
/*     background-color: white; */
/* } */

/* button.mat-menu-item:hover { */
/*     background-color: blue; */
/*     color: #fff !important; */
/* } */


