<!-- <link  href="http://localhost:8085/api/1/file/form-customization.css" type="text/css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" [href]="passURL"> -->



<!-- <link rel="stylesheet" href="./assets/css/form-customization.css"> -->
<!-- [href]="sanitizer.bypassSecurityTrustResourceUrl(cssURL)">  -->
<!-- [href]="sanitizer.bypassSecurityTrustResourceUrl(cssURL)"> -->

<div *ngIf="frm"> 
<div class="{{frm.theme}}">
<div class="{{frm.theme}}-custom">
<div  class="main-form-class" [style.background-color]=frm.bgColor [style.max-width.px]=frm.formwidth>


<!-- <table > -->
<!-- <tr> -->
<!-- 	<td > -->
	
<!-- 	<strong>Choose background color</strong> -->
	
<!-- 	</td> -->
<!-- 	<td class=bgChooseColor> -->
<!-- 	 <input  cpPosition='bottom' cpOutputFormat="hex" value="{{frm.bgColor | uppercase}}" [(colorPicker)]="frm.bgColor"  [style.background]="frm.bgColor"/> -->
<!-- 	</td> -->
<!-- </tr>  -->
<!-- </table> -->



<!-- 	<div class="example-form"> -->
<!-- 	<table width="100%" border="0"> -->
<!-- 	<tr> -->
<!-- 		<td class="example-full-width"> -->
<!-- 	<div [froalaEditor] > -->
<!-- <div id="froala-editor"  [froalaEditor] [(froalaModel)]="frm.title"> -->
<!-- 			{{frm.title|titlecase}} -->
<!-- 			</div> -->
<!-- 			<div [froalaView]="frm.title"></div> -->
<!-- 		<ckeditor [editor]="editor"  [(ngModel)]="frm.title"> -->
<!-- 	</ckeditor> -->
<!-- <ck-editor inline="true" name="editor1" [(ngModel)]="frm.title" skin="moono-lisa" language="en" ></ck-editor> -->
			
<!-- 		</td> -->
<!-- 		<td> -->
<!-- 			<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
			
<!-- 		</td> -->
<!-- 		<div>{{frm.title}}</div> -->
		
		
<!-- 	</tr> -->
	
<!--   	</table> -->
<!-- 	</div> -->

	<form class="{{theme}}" >
	<div class="title">
		<div [froalaView]="frm.title" style="flex-grow:1;">
		
		</div>
		<button mat-icon-button [matMenuTriggerFor]="menu">
  					<mat-icon svgIcon="Morevert"></mat-icon>
		</button>
		<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="showSetting(frm)">
			    		<mat-icon svgIcon="Setting" class="setting-icon"></mat-icon>
		    			<span>Properties</span>
		  			</button>
  		</mat-menu>
	</div>
			<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
			<div cdkDrag *ngFor="let field of formField" [ngSwitch]="field.type">
		<div *ngSwitchCase="'textbox'" >
<!-- 				     [formControl]="field.frmControl" -->				
				<div>{{frm.style}}</div>				
				<mat-form-field   class="example-full-width"  [style]="sanitizeHTML(frm.style)">
				    <input matInput   
				    name="{{field.title}}"
					[formControl]="field.frmControl"
					
				    value="" required="{{field.required}}">
				     <mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-placeholder>
				    <button mat-icon-button matSuffix  [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
					
		  		</mat-form-field>
		  		
		  		
		 		<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
				
		  		
<!-- 		  		<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
<!-- 			  	<mat-icon  class="delete-icon" svgIcon="Delete" (click)="remove(field)"></mat-icon> -->
		  		
<!-- 		  		<a  tabindex="-1" style="padding-left:30px;"(click)="showSetting(field)" class="glyphicon glyphicon-cog"></a>  -->
<!--   				<a  tabindex="-1" style="padding-left:5px;"(click)="remove(field)" class="glyphicon glyphicon-remove"></a> -->
  				
  				
  				
  		</div>
  		<div *ngSwitchCase="'textarea'">
  				<mat-form-field class="example-full-width" [style]="sanitizeHTML(frm.style)">
    				<textarea matInput  rows="4" cols="20" 
    				[formControl]="field.frmControl"></textarea>
    				 <mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-placeholder>
<!--     				<mat-error *ngIf="field.frmControl.hasError('required')"> -->
<!--       					{{field.title}} is <strong>required</strong> -->
<!--     				</mat-error> -->
<!--     				<mat-error *ngIf="field.frmControl.hasError('maxlength')"> -->
<!--       					Maximum allower character for {{field.title}} is <strong>{{field.maxlen}}</strong> -->
<!--     				</mat-error> -->
<!--     				<mat-error *ngIf="field.frmControl.hasError('minlength')"> -->
<!--       					Minimum <strong>{{field.minlen}}</strong> characters required for <strong>{{field.title}}</strong> -->
<!--     				</mat-error> -->
					<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
  				</mat-form-field>
  			
		 		<mat-menu #menu="matMenu">
			  		
					<!-- 		  <button mat-menu-item disabled> -->
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
<!--   				<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
<!-- 		  		<mat-icon  class="delete-icon" svgIcon="Delete" (click)="remove(field)"></mat-icon> -->
<!--   				<a  tabindex="-1" style="padding-left:30px;"(click)="showSetting(field)" class="glyphicon glyphicon-cog"></a>  -->
<!--   				<a  tabindex="-1" style="padding-left:5px;"(click)="remove(field)" class="glyphicon glyphicon-remove"></a> -->
  		</div>
  		<!--  section start -->
  		<div *ngSwitchCase="'section'" class="inline">
  					<mat-list class="example-full-width"  >
  						<mat-list-item class="section-text" [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-list-item>
  							<mat-divider class="devider"></mat-divider>
     				</mat-list>
     				<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
			 		<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="showSetting(field)">
				    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
			    			<span>Properties</span>
			  			</button>
	  					<button mat-menu-item (click)="remove(field)">
	    					<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
	    					<span>Delete</span>
	  					</button>
					</mat-menu>
		</div>
  		<!--  section end -->
  		<!-- full name start -->
  			<div *ngSwitchCase="'fullname'" class="multifield" >
	  			<ng-container *ngFor="let subfield of field.subfields">
	  			<ng-container *ngIf="subfield.visible==true" >	
	  			 		<div class="subfield">
	  						<mat-form-field [style]="sanitizeHTML(frm.style)">
						    <input matInput name="{{subfield.name}}" [formControl]="field.frmControl" value="" required="false">
						     <mat-placeholder [style]="sanitizeHTML(frm.style)">{{subfield.name}}</mat-placeholder>
							</mat-form-field>
			  			</div>
			  	</ng-container>
			  	</ng-container>
				<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
			 		<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="showSetting(field)">
				    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
			    			<span>Properties</span>
			  			</button>
	  					<button mat-menu-item (click)="remove(field)">
	    					<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
	    					<span>Delete</span>
	  					</button>
					</mat-menu>
			</div>
			<div *ngSwitchCase="'phone'" class="multifield">
	  					<div class="width-30">
	  						<mat-form-field [style]="sanitizeHTML(frm.style)">				  
						    	<input matInput name="{{field.subfields[0].name}}" [formControl]="field.frmControl" value="" required="false">
						    	<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.subfields[0].placeholder}}</mat-placeholder>
							</mat-form-field>
			  			</div>
			  			<div class="width-70">
	  						<mat-form-field [style]="sanitizeHTML(frm.style)">
						    	<input matInput name="{{field.subfields[1].name}}" [formControl]="field.frmControl" value="" required="false">
						    	<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.subfields[1].placeholder}}</mat-placeholder>
							</mat-form-field>
			  			</div>
						<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  							<mat-icon svgIcon="Morevert"></mat-icon>
						</button>
			 			<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="showSetting(field)">
				    			<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
			    				<span>Properties</span>
			  				</button>
	  						<button mat-menu-item (click)="remove(field)">
	    						<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
	    						<span>Delete</span>
	  						</button>
						</mat-menu>
			</div>
			<div *ngSwitchCase="'time'">
				<mat-list class="example-full-width" >
  						<mat-list-item class="section-text" [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-list-item>
  							<mat-divider class="devider"></mat-divider>
     			</mat-list>
				<div class="multifield-fixed" >
						<div class="width-30">
						  	<mat-form-field [style]="sanitizeHTML(frm.style)">
    							<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.subfields[0].name}}</mat-placeholder>
    							<mat-select  [style]="sanitizeHTML(frm.style)" [(value)]="field.subfields[0].name" >
    								<mat-option *ngFor="let option of hours" value="Hour">{{option}}</mat-option>
    							</mat-select>
    							<mat-error *ngIf="field.frmControl.hasError('required')">
      								Selection for {{field.title}} is <strong>required</strong>
    							</mat-error>
    						</mat-form-field>
			  			</div>
			  			<div class="width-30">
						  	<mat-form-field [style]="sanitizeHTML(frm.style)">
    							<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.subfields[1].name}}</mat-placeholder>
    							<mat-select  [style]="sanitizeHTML(frm.style)" [(value)]="field.subfields[1].name" >
    								<mat-option *ngFor="let option of minutes" value="Minutes">{{option}}</mat-option>
    							</mat-select>
    							<mat-error *ngIf="field.frmControl.hasError('required')">
      								Selection for {{field.title}} is <strong>required</strong>
    							</mat-error>
    						</mat-form-field>
			  			</div>
			  			<div class="width-30">
						  	<mat-form-field [style]="sanitizeHTML(frm.style)">
    							<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.subfields[2].name}}</mat-placeholder>
    							<mat-select  [style]="sanitizeHTML(frm.style)" [(value)]="field.subfields[2].name" >
    								<mat-option *ngFor="let option of meridiem" value="meridiem">{{option}}</mat-option>
    							</mat-select>
    							<mat-error *ngIf="field.frmControl.hasError('required')">
      								Selection for {{field.title}} is <strong>required</strong>
    							</mat-error>
    						</mat-form-field>
			  			</div>
						<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  							<mat-icon svgIcon="Morevert"></mat-icon>
						</button>
			 			<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="showSetting(field)">
				    			<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
			    				<span>Properties</span>
			  				</button>
	  						<button mat-menu-item (click)="remove(field)">
	    						<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
	    						<span>Delete</span>
	  						</button>
						</mat-menu>
						</div>
			</div>
			<div *ngSwitchCase="'address'" class="multifield">
	  			<ng-container *ngFor="let subfield of field.subfields">
	  			<ng-container *ngIf="subfield.visible==true && subfield.name.includes('address')" >
	  					<div class="subfield-full-width">
	  						<mat-form-field [style]="sanitizeHTML(frm.style)">
						    <input matInput name="{{subfield.name}}" [formControl]="field.frmControl" value="" required="false">
						    	<mat-placeholder [style]="sanitizeHTML(frm.style)">{{subfield.placeholder}}</mat-placeholder>
							</mat-form-field>
			  			</div>
			  	</ng-container>
			  	<ng-container *ngIf="subfield.visible==true && !subfield.name.includes('address')" >
	  					<div class="subfield">
	  						<mat-form-field [style]="sanitizeHTML(frm.style)">
						    <input matInput name="{{subfield.name}}" [formControl]="field.frmControl" value="" required="false">
						    <mat-placeholder [style]="sanitizeHTML(frm.style)">{{subfield.placeholder}}</mat-placeholder>
							</mat-form-field>
			  			</div>
			  	</ng-container>
			  	</ng-container>
				<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
			 		<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="showSetting(field)">
				    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
			    			<span>Properties</span>
			  			</button>
	  					<button mat-menu-item (click)="remove(field)">
	    					<mat-icon svgIcon="Delete" class="delete-icon" ></mat-icon>
	    					<span>Delete</span>
	  					</button>
					</mat-menu>
			</div>
			
			<div *ngSwitchCase="'email'" >
				<mat-form-field   class="example-full-width" [style]="sanitizeHTML(frm.style)">
				    <input matInput name="{{field.title}}" [formControl]="field.frmControl"  value="" required="{{field.required}}">
				   <mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-placeholder>
				    <button mat-icon-button matSuffix  [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
		  		</mat-form-field>
		 		<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
  		</div>
  		<div *ngSwitchCase="'submit'" >
				
				<div   class="example-full-width">
				    <button _ngcontent-oht-c21="" class="btn btn-success mat-raised-button" type="submit">{{field.title}}</button>
				    <button mat-icon-button matSuffix  [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
		  		</div>
		 		<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
  		</div>
		
  		
  		<!-- full name end -->
  		
  		<div *ngSwitchCase="'slide-toggle'" class="inline">
      	
      			<mat-slide-toggle [style]="sanitizeHTML(frm.style)"
      					class="example-full-width"
      					[color]="white"
          				[checked]="field.checked"
          				[disabled]="field.disabled"><div [style]="sanitizeHTML(frm.style)">{{field.title}}</div>
      			</mat-slide-toggle>
      			<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
				</button>
			
      			
		 		<mat-menu #menu="matMenu">
			  		
					<!-- 		  <button mat-menu-item disabled> -->
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon" ></mat-icon>
		    			<span >Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
<!--       			<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
<!-- 		  		<mat-icon  class="delete-icon" svgIcon="Delete" (click)="remove(field)"></mat-icon> -->
<!--       			<a  tabindex="-1" style="padding-left:30px;"(click)="showSetting(field)" class="glyphicon glyphicon-cog"></a>  -->
<!--   				<a  tabindex="-1" style="padding-left:5px;"(click)="remove(field)" class="glyphicon glyphicon-remove"></a>	 -->
  		</div>
		<div *ngSwitchCase="'date-picker'">
		      <mat-form-field class="example-half-width" [style]="sanitizeHTML(frm.style)">
		      		<input  matInput  [min]="field.mindate"  
		      		required="{{field.required}}"
  					[max]="field.mindate" 
  					[matDatepicker]="picker" 
  					 (dateInput)="addEvent('input', $event)"
  					 (dateChange)="addEvent('change', $event)"		>
  					  <mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-placeholder>
  					<mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
  					<mat-datepicker touchUi  #picker></mat-datepicker>
  						<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
  					
		      </mat-form-field>
		      
		 		<mat-menu #menu="matMenu">
			  		
					<!-- 		  <button mat-menu-item disabled> -->
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon"></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
<!-- 		      	<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
<!-- 		  		<mat-icon  class="delete-icon" svgIcon="Delete" (click)="remove(field)"></mat-icon> -->
<!-- 		      <a  tabindex="-1" style="padding-left:30px;"(click)="showSetting(field)" class="glyphicon glyphicon-cog"></a>  -->
<!--   			  <a  tabindex="-1" style="padding-left:5px;"(click)="remove(field)" class="glyphicon glyphicon-remove"></a>	 -->
		</div> 		  		
  		
  		<div *ngSwitchCase="'dropdown'" >
  				<mat-form-field class="example-half-width" [style]="sanitizeHTML(frm.style)">
    				<mat-placeholder [style]="sanitizeHTML(frm.style)">{{field.title}}</mat-placeholder>
    				<mat-select  [style]="sanitizeHTML(frm.style)" [(value)]="field.selectedOption" 
    				[formControl]="field.frmControl">
    				
    					<mat-option *ngFor="let option of field.options" value="{{option}}"><div [style]="sanitizeHTML(frm.style)">{{option}}</div></mat-option>
    				</mat-select>
    				<mat-error *ngIf="field.frmControl.hasError('required')">
      					Selection for {{field.title}} is <strong>required</strong>
    				</mat-error>
    				<button mat-icon-button matSuffix [matMenuTriggerFor]="menu">
  						<mat-icon svgIcon="Morevert"></mat-icon>
					</button>
    			</mat-form-field>
    			<mat-menu #menu="matMenu">
			  		
					<!-- 		  <button mat-menu-item disabled> -->
					<button mat-menu-item (click)="showSetting(field)">
			    		<mat-icon svgIcon="Setting" class="setting-icon"></mat-icon>
		    			<span>Properties</span>
		  			</button>
  					<button mat-menu-item (click)="remove(field)">
    					<mat-icon svgIcon="Delete" class="delete-icon"></mat-icon>
    					<span>Delete</span>
  					</button>
				</mat-menu>
<!--   				<mat-icon   class="setting-icon" svgIcon="Setting" (click)="showSetting(field)"></mat-icon> -->
<!-- 		  		<mat-icon  class="delete-icon" svgIcon="Delete" (click)="remove(field)"></mat-icon>	 -->
<!--   				<a tabindex="-1"  style="padding-left:30px;"(click)="showSetting(field)" class="glyphicon glyphicon-cog"></a>  -->
<!--   				<a tabindex="-1"  style="padding-left:5px;"(click)="remove(field)" class="glyphicon glyphicon-remove"></a> -->
  		</div>
  		
			
<!-- 			<div *ngSwitchCase="'textbox'" class="col-md-9" -->
<!-- 				style="padding-top: 12px; padding-bottom: 12px;"> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label>{{field.title}}</label> <input type="text" -->
<!-- 						class="form-control"> -->

<!-- 				</div> -->

<!-- 			</div> -->

	<!-- 		<div *ngSwitchCase="'textarea'" class="form-group" class="col-md-9"
				style="padding-top: 12px;; padding-bottom: 12px;">
				<label>{{field.title}}</label>
				<textarea rows="4" cols="50" class="form-control"></textarea>
			</div>
			<div *ngSwitchCase="'dropdown'" class="form-group" class="col-md-9"
				style="padding-top: 12px;; padding-bottom: 12px;">
				<label>{{field.title}}</label> ` <select class="custom-select">
					<option *ngFor="let option of field.options">{{option}}</option>

				</select>
			</div>
			<div class="col-md-3"
				style="padding-top: 12px;; padding-bottom: 12px;">
				<a href="#" (click)="showSetting(field)"
					class="glyphicon glyphicon-cog"></a> <a href="#"
					(click)="remove(field)" class="glyphicon glyphicon-remove"></a>
			</div>
		</div>
 -->
 	

</div>
</div>

<!-- <div style="padding-top:30px;"> -->

<!-- </div> -->

	</form>





</div>
</div>
<p class="example-full-width">
<table>
<tr><td>
<button type="submit" (click)="saveForm()"  class="btn btn-success mat-raised-button" >Save</button></td>


</tr>
</table>
<p></p>
</div>

