.main-div {
width:100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-basis: auto; /* default value */
flex-grow: 1;
}
.main-form-class {
 width:inherit;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    align-items: flex-start;
    margin-bottom: -77px;
}
::ng-deep  .mat-step-header:hover {
    background-color:rgba(255, 255, 255, 0);
}
