<!--@Ref: https://zefoy.github.io/ngx-color-picker/ -->

<div *ngIf="type!='form'" class="nav-content">
	
	
	<div [ngSwitch]="actvieFormField.type">
		<div *ngSwitchCase="'form'">
			<formtitle [frm]="frm" [actvieFormField]="actvieFormField"></formtitle>
		</div>
		<div *ngSwitchCase="'textbox'">
			<frmtextbox [frm]="frm" [actvieFormField]="actvieFormField"></frmtextbox>
		</div>
		<div *ngSwitchCase="'fullname'">
			<fullname [frm]="frm" [actvieFormField]="actvieFormField"></fullname>
		</div>
		<div *ngSwitchCase="'email'">
			<email [frm]="frm" [actvieFormField]="actvieFormField"></email>
		</div>
		<div *ngSwitchCase="'address'">
			<address [frm]="frm" [actvieFormField]="actvieFormField"></address>
		</div>
		<div *ngSwitchCase="'phone'">
			<phonenumber [frm]="frm" [actvieFormField]="actvieFormField"></phonenumber>
		</div>
		<div *ngSwitchCase="'slide-toggle'">
			<yesnotoggle [frm]="frm" [actvieFormField]="actvieFormField"></yesnotoggle>
		</div>
		<div *ngSwitchCase="'date-picker'">								  
			<datepicker [frm]="frm" [actvieFormField]="actvieFormField"></datepicker>
		</div>
		<div *ngSwitchCase="'upload'" >								  
			<upload [frm]="frm" [actvieFormField]="actvieFormField"></upload>
		</div>
		<div *ngSwitchCase="'section'" >								  
			<section [frm]="frm" [actvieFormField]="actvieFormField"></section>
		</div>
		<div *ngSwitchCase="'rating'" >								  
			<ratting [frm]="frm" [actvieFormField]="actvieFormField"></ratting>
		</div>
		<div *ngSwitchCase="'dropdown'" >								  
			<dropdown [frm]="frm" [actvieFormField]="actvieFormField"></dropdown>
		</div>
		<div *ngSwitchCase="'signature'" >	
									  
			<signature [frm]="frm" [actvieFormField]="actvieFormField"></signature>
		</div>
		<div *ngSwitchCase="'survey'" >	
			<survey [frm]="frm" [actvieFormField]="actvieFormField"></survey>
		</div>
		<div *ngSwitchCase="'numberspinner'" >	
			<numberspinner [frm]="frm" [actvieFormField]="actvieFormField"></numberspinner>
		</div>
		<div *ngSwitchCase="'captcha'" >	
			<captcha [frm]="frm" [actvieFormField]="actvieFormField"></captcha>
		</div>
		
		<div *ngSwitchCase="'productlist'" >	
			<productlistproperties [frm]="frm" [actvieFormField]="actvieFormField"></productlistproperties>
		</div>


				
		<div *ngSwitchCase="'submit'" >								  
			<frm-button [frm]="frm" [actvieFormField]="actvieFormField"></frm-button>
		</div>
	</div>
</div>

<div *ngIf="type=='form'" class="nav-content">
	<formproperty [frm]="frm" [formID]="formID" [safeBgURL]="safeBgURL"  [type]="type"></formproperty>
</div>
			
	
