.leftNavText
{
	margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 10px;
}

.mat-toolbar {
    background: #eee;
    // color: rgba(0,0,0,.87);
    color: #3C4858;
    -webkit-tap-highlight-color: transparent;
}